/* Reset some default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Apply styles to the whole document */
html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color:black;
}

/* For container */
.container {
  background-color: bisque;
  width: 97%; /* Adjust as needed */
  max-width: 450px; /* Adjust max-width to fit smaller screens */
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px; /* Add some padding for better spacing */
  border: 10px solid grey;;
  border-radius: 10px ; /* Add some rounded corners */
}

/* For display */
#display {
  height: 100px;
  width: 100%;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: right;
  font-size: 2rem;
  padding: 0 10px;
  margin-bottom: 10px;
}

/* For main */
.main {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to next line if needed */
}

/* For columns */
.column {
  width: 25%; /* Adjust as needed */
}

/* For buttons */
.box, .rightBox, #zero, #dot, #equal {
  width: 100%;
  height: 70px;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
}

/* Hover effect */
.box:hover, .rightBox:hover, #zero:hover, #dot:hover, #equal:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* For the red-colored buttons */
.rightBox, #equal {
  background-color: rgb(188, 11, 11);
  color: white;
}

/* For the last row */
.last-row {
  display: flex;
  justify-content: space-between;
}

/* Adjustments for specific buttons */
#zero {
  width: calc(33.33% - 5px); /* Adjusted width to fit three buttons in a row with a small gap */
}

#dot {
  width: calc(33.33% - 5px); /* Adjusted width to fit three buttons in a row with a small gap */
  border-left: none;
}

#equal {
  width: calc(33.33% - 5px); /* Adjusted width to fit three buttons in a row with a small gap */
  border-left: none;
}


  /* Align left for smaller screens */
  #clear,
  #doubleoperator,
  #percentage,
  #division,
  #multiply,
  #subtract {
    justify-content: flex-start;
    padding-left: 20px;
  }

  /* Align right for smaller screens */
  #one,
  #two,
  #three,
  #four,
  #five,
  #six,
  #seven,
  #eight,
  #nine,
  #zero,
  #dot,
  #add {
    justify-content: flex-end;
    padding-right: 20px;
  }

